<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdl.dynamicload.datasource.mapper.DatasourceManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wdl.dynamicload.datasource.entity.DatasourceManage">
        <result column="id" property="id"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="name" property="name"/>
        <result column="ds_config" property="dsConfig"/>
        <result column="ds_effective" property="dsEffective"/>
        <result column="ds_enable" property="dsEnable"/>
    </resultMap>


</mapper>
